# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/**/.idea/
/**/.vscode/
*.swp
*.iml

# Java
/**/target/
*.class

/**/cmake/
build/

cscope*

/.clang_complete
/.cxx_tags
/.yavide_proj
/.yavide_session

.env
/**/cmake-build-debug

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeFiles/
ReactFS.cbp
common/CMakeFiles/
common/Makefile
common/cmake_install.cmake
common/logs/
common/main_common
common/main_shared_lock
common/main_thread_pool
common/reactfs-common.cbp
common/test_alarm
common/test_config
common/test_file_utils
common/test_shared_lock
common/test_thread_pool
core/CMakeFiles/
core/Makefile
core/cmake_install.cmake
core/core_adhoc
core/logs/
core/main_compress
core/main_fsb
core/main_node_client
core/main_node_env
core/main_typed_b
core/reactfs-core.cbp
core/test_node_client
core/test_node_manager
logs
parsers/CMakeFiles/
parsers/Makefile
parsers/cmake_install.cmake
parsers/generator_util
parsers/main_schema_p
parsers/reactfs-parsers.cbp
parsers/template_util
types/CMakeFiles/
types/Makefile
types/cmake_install.cmake
types/main_types_test
types/reactfs-types.cbp
watergate/CMakeFiles/
watergate/Makefile
watergate/cmake_install.cmake
watergate/logs/
watergate/main_basic
watergate/main_lock_table
watergate/main_sems
watergate/test_lock_client
watergate/test_lock_table
watergate/test_sem_lock
watergate/watergate.cbp
